## Import libraries

In [1]:
import nltk
#nltk.download('stopwords')
import pandas as pd
import numpy as np
from articles import articles
from preprocessing import preprocess_text

# import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer,TfidfVectorizer

## View Article

In [2]:
# view article
print(articles[3])

ISLAMABAD: Long queues of vehicles on fuel stations were visible in different parts of the country as the petrol became rare commodity on Thursday. Federal Minister for Petroleum Shahid Khaqan Abbasi says "it may take up to ten days to bring the situation to normality". He claimed that northern areas of Pakistan had been facing the petrol shortage. The minister cited the recent decline in petroleum prices and delay in a shipment as reasons for the shortage.He said situation would improve as soon as shipment reached Pakistan. Sources told Geo News hat due to financial restraints the Pakistan State Oil has been unable import petrol.

### Preprocess articles

In [4]:
processed_articles = [preprocess_text(article) for article in articles]

## initialize and fit CountVectorizer

In [15]:
vectorizer = CountVectorizer()
counts = vectorizer.fit_transform(processed_articles)
print(counts)

  (0, 169)	4
  (0, 316)	6
  (0, 287)	1
  (0, 132)	3
  (0, 139)	2
  (0, 74)	1
  (0, 321)	4
  (0, 39)	1
  (0, 87)	1
  (0, 242)	2
  (0, 324)	3
  (0, 110)	4
  (0, 44)	3
  (0, 227)	1
  (0, 50)	1
  (0, 89)	1
  (0, 192)	1
  (0, 258)	2
  (0, 152)	4
  (0, 230)	1
  (0, 239)	1
  (0, 236)	2
  (0, 111)	1
  (0, 129)	1
  (0, 210)	1
  :	:
  (9, 170)	2
  (9, 352)	2
  (9, 27)	1
  (9, 292)	1
  (9, 5)	1
  (9, 29)	1
  (9, 70)	1
  (9, 317)	1
  (9, 211)	1
  (9, 28)	1
  (9, 64)	1
  (9, 79)	1
  (9, 51)	1
  (9, 26)	1
  (9, 334)	1
  (9, 133)	1
  (9, 351)	2
  (9, 126)	1
  (9, 303)	1
  (9, 118)	1
  (9, 103)	1
  (9, 263)	1
  (9, 23)	1
  (9, 17)	1
  (9, 183)	1

## Convert counts to tf-idf

In [16]:
transformer = TfidfTransformer(norm = None)
tfidf_scores_transformed = transformer.fit_transform(counts) 
print(tfidf_scores_transformed)

  (0, 343)	5.3653720810928105
  (0, 339)	2.7047480922384253
  (0, 333)	2.01160091167848
  (0, 326)	2.2992829841302607
  (0, 325)	2.7047480922384253
  (0, 324)	8.114244276715276
  (0, 321)	4.3812407192173
  (0, 316)	6.0
  (0, 315)	1.3184537311185345
  (0, 309)	2.2992829841302607
  (0, 290)	2.01160091167848
  (0, 287)	2.2992829841302607
  (0, 275)	3.6020120863864538
  (0, 270)	2.7047480922384253
  (0, 268)	2.7047480922384253
  (0, 261)	2.2992829841302607
  (0, 259)	2.7047480922384253
  (0, 258)	5.4094961844768505
  (0, 242)	5.4094961844768505
  (0, 239)	2.7047480922384253
  (0, 236)	3.5769147207285403
  (0, 235)	2.7047480922384253
  (0, 230)	2.2992829841302607
  (0, 227)	2.2992829841302607
  (0, 224)	2.2992829841302607
  :	:
  (9, 214)	1.095310179804325
  (9, 211)	2.7047480922384253
  (9, 183)	2.7047480922384253
  (9, 170)	5.4094961844768505
  (9, 133)	2.7047480922384253
  (9, 126)	2.7047480922384253
  (9, 118)	2.7047480922384253
  (9, 117)	1.6061358035703155
  (9, 103)	2.7047480922384253
  (9, 79)	2.7047480922384253
  (9, 70)	2.7047480922384253
  (9, 64)	2.7047480922384253
  (9, 54)	5.4094961844768505
  (9, 51)	2.7047480922384253
  (9, 33)	2.7047480922384253
  (9, 30)	1.095310179804325
  (9, 29)	2.7047480922384253
  (9, 28)	2.7047480922384253
  (9, 27)	2.7047480922384253
  (9, 26)	2.7047480922384253
  (9, 23)	2.7047480922384253
  (9, 17)	2.7047480922384253
  (9, 13)	1.3184537311185345
  (9, 11)	2.2992829841302607
  (9, 5)	2.7047480922384253

##  Initialize and fit TfidfVectorizer

In [18]:
vectorizer = TfidfVectorizer(norm = None)
tfidf_scores = vectorizer.fit_transform(processed_articles)
print(tfidf_scores)

  (0, 188)	2.2992829841302607
  (0, 77)	2.7047480922384253
  (0, 339)	2.7047480922384253
  (0, 71)	2.7047480922384253
  (0, 325)	2.7047480922384253
  (0, 58)	5.4094961844768505
  (0, 127)	2.7047480922384253
  (0, 207)	2.7047480922384253
  (0, 62)	2.7047480922384253
  (0, 270)	2.7047480922384253
  (0, 333)	2.01160091167848
  (0, 315)	1.3184537311185345
  (0, 4)	2.2992829841302607
  (0, 66)	2.01160091167848
  (0, 224)	2.2992829841302607
  (0, 61)	2.7047480922384253
  (0, 186)	2.7047480922384253
  (0, 53)	2.7047480922384253
  (0, 60)	2.7047480922384253
  (0, 42)	5.4094961844768505
  (0, 162)	2.7047480922384253
  (0, 235)	2.7047480922384253
  (0, 75)	2.7047480922384253
  (0, 1)	2.7047480922384253
  (0, 259)	2.7047480922384253
  :	:
  (9, 26)	2.7047480922384253
  (9, 51)	2.7047480922384253
  (9, 79)	2.7047480922384253
  (9, 64)	2.7047480922384253
  (9, 28)	2.7047480922384253
  (9, 211)	2.7047480922384253
  (9, 317)	2.7047480922384253
  (9, 70)	2.7047480922384253
  (9, 29)	2.7047480922384253
  (9, 5)	2.7047480922384253
  (9, 292)	2.7047480922384253
  (9, 27)	2.7047480922384253
  (9, 352)	5.4094961844768505
  (9, 170)	5.4094961844768505
  (9, 54)	5.4094961844768505
  (9, 33)	2.7047480922384253
  (9, 11)	2.2992829841302607
  (9, 117)	1.6061358035703155
  (9, 214)	1.095310179804325
  (9, 13)	1.3184537311185345
  (9, 217)	1.4519851237430572
  (9, 30)	1.095310179804325
  (9, 343)	3.5769147207285403
  (9, 275)	2.4013413909243027
  (9, 316)	1.0

## Check if tf-idf scores are equal

In [19]:
if np.allclose(tfidf_scores_transformed.todense(), tfidf_scores.todense()):
  print(pd.DataFrame({'Are the tf-idf scores the same?':['YES']}))
else:
  print(pd.DataFrame({'Are the tf-idf scores the same?':['No, something is wrong :(']}))

  Are the tf-idf scores the same?
0                             YES

## Get vocabulary of terms

In [22]:
try:
  feature_names = vectorizer.get_feature_names()
except:
  pass

##  Get article index

In [23]:
try:
  article_index = [f"Article {i+1}" for i in range(len(articles))]
except:
  pass

## Create pandas DataFrame with word counts

In [28]:
try:
  df_word_counts = pd.DataFrame(counts.T.todense(), index=feature_names, columns=article_index)
  print(df_word_counts)
except:
  pass

        Article 1  Article 2  Article 3  Article 4  Article 5  Article 6  \
abbasi          0          0          0          1          0          0
abide           1          0          0          0          0          0
about           0          0          0          0          0          0
accord          0          0          1          0          0          0
add             1          0          0          0          0          0
...           ...        ...        ...        ...        ...        ...
world           0          0          0          0          0          3
would           0          0          0          1          0          0
year            0          1          0          0          0          0
yi              0          0          0          0          0          0
yuan            0          0          0          0          0          0

        Article 7  Article 8  Article 9  Article 10
abbasi          0          0          0           0
abide           0          0          0           0
about           1          0          0           0
accord          0          0          0           0
add             0          0          1           0
...           ...        ...        ...         ...
world           0          0          0           0
would           0          0          1           0
year            0          0          0           0
yi              0          0          0           2
yuan            0          0          0           2

[353 rows x 10 columns]

## Create pandas DataFrame(s) with tf-idf scores

In [29]:
try:
  df_tf_idf = pd.DataFrame(tfidf_scores_transformed.T.todense(), index=feature_names, columns=article_index)
  print(df_tf_idf)
except:
  pass

try:
  df_tf_idf = pd.DataFrame(tfidf_scores.T.todense(), index=feature_names, columns=article_index)
  print(df_tf_idf)
except:
  pass

        Article 1  Article 2  Article 3  Article 4  Article 5  Article 6  \
abbasi   0.000000   0.000000   0.000000   2.704748        0.0   0.000000
abide    2.704748   0.000000   0.000000   0.000000        0.0   0.000000
about    0.000000   0.000000   0.000000   0.000000        0.0   0.000000
accord   0.000000   0.000000   2.704748   0.000000        0.0   0.000000
add      2.299283   0.000000   0.000000   0.000000        0.0   0.000000
...           ...        ...        ...        ...        ...        ...
world    0.000000   0.000000   0.000000   0.000000        0.0   8.114244
would    0.000000   0.000000   0.000000   2.299283        0.0   0.000000
year     0.000000   2.704748   0.000000   0.000000        0.0   0.000000
yi       0.000000   0.000000   0.000000   0.000000        0.0   0.000000
yuan     0.000000   0.000000   0.000000   0.000000        0.0   0.000000

        Article 7  Article 8  Article 9  Article 10
abbasi   0.000000        0.0   0.000000    0.000000
abide    0.000000        0.0   0.000000    0.000000
about    2.704748        0.0   0.000000    0.000000
accord   0.000000        0.0   0.000000    0.000000
add      0.000000        0.0   2.299283    0.000000
...           ...        ...        ...         ...
world    0.000000        0.0   0.000000    0.000000
would    0.000000        0.0   2.299283    0.000000
year     0.000000        0.0   0.000000    0.000000
yi       0.000000        0.0   0.000000    5.409496
yuan     0.000000        0.0   0.000000    5.409496

[353 rows x 10 columns]
        Article 1  Article 2  Article 3  Article 4  Article 5  Article 6  \
abbasi   0.000000   0.000000   0.000000   2.704748        0.0   0.000000
abide    2.704748   0.000000   0.000000   0.000000        0.0   0.000000
about    0.000000   0.000000   0.000000   0.000000        0.0   0.000000
accord   0.000000   0.000000   2.704748   0.000000        0.0   0.000000
add      2.299283   0.000000   0.000000   0.000000        0.0   0.000000
...           ...        ...        ...        ...        ...        ...
world    0.000000   0.000000   0.000000   0.000000        0.0   8.114244
would    0.000000   0.000000   0.000000   2.299283        0.0   0.000000
year     0.000000   2.704748   0.000000   0.000000        0.0   0.000000
yi       0.000000   0.000000   0.000000   0.000000        0.0   0.000000
yuan     0.000000   0.000000   0.000000   0.000000        0.0   0.000000

        Article 7  Article 8  Article 9  Article 10
abbasi   0.000000        0.0   0.000000    0.000000
abide    0.000000        0.0   0.000000    0.000000
about    2.704748        0.0   0.000000    0.000000
accord   0.000000        0.0   0.000000    0.000000
add      0.000000        0.0   2.299283    0.000000
...           ...        ...        ...         ...
world    0.000000        0.0   0.000000    0.000000
would    0.000000        0.0   2.299283    0.000000
year     0.000000        0.0   0.000000    0.000000
yi       0.000000        0.0   0.000000    5.409496
yuan     0.000000        0.0   0.000000    5.409496

[353 rows x 10 columns]

## Get highest scoring tf-idf term for each article

In [30]:
for i in range(1,11):
  print(df_tf_idf[[f'Article {i}']].idxmax())

Article 1    fare
dtype: object
Article 2    hong
dtype: object
Article 3    sugar
dtype: object
Article 4    petrol
dtype: object
Article 5    engine
dtype: object
Article 6    australia
dtype: object
Article 7    car
dtype: object
Article 8    railway
dtype: object
Article 9    cabinet
dtype: object
Article 10    china
dtype: object